*.PrjPcb.Zip
*.SchDocPreview
*.PrjPcbStructure
*.BomDoc.Zip
PCB_Project_Source_IoT/History/
PCB_Project_Source_IoT/Libraries/History/
PCB_Project_Source_IoT/Project Logs for PCB_Project_Source_IoT/
PCB_Project_Source_IoT/Schematics/__Previews/
PCB_Project_Source_IoT/Project Outputs for PCB_Project_Source_IoT/Design Rule Check - PCB_Source_IoT.html
PCB_Project_Source_IoT/Project Outputs for PCB_Project_Source_IoT/Design Rule Check - PCB_Source_IoT.drc
PCB_Project_Source_IoT/Layout/PCB_Source_IoT.txt
PCB_Project_Source_IoT/Layout/PCB_Source_IoT.html
